body {
    width: 375px;
    height: 667px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
    font-size: 15px;
    font-family: outfit;
    font-weight: 400;
}
section {
    width: 85%;
    height: 95vh;
    background-color: var(--white);
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

p {
    width: 80%;
}

.qr-code {
    width: 90%;
    height: 55vh;
    margin-top: -20px;
    border-radius: 10px;
}
.improve {
    font-size: 20px;
    font-weight: 700;
    color: var(--slate-900);
}

.scan {
    color: var(--slate-500);
}
